.banner-bottom {
	.btn {
		white-space: nowrap;
		background-color: rgba(0, 0, 0, 0.6);
		color: #ffffff;
		font-size: 14px;
		line-height: 40px;
		height: 52px;
		img {
			margin-right: 4px;
		}
	}
}
@media (max-width: 320px) {
	.banner-bottom {
		height: 100%;
		display: flex;
		align-items: flex-end;
		min-height: 90px;
	}

	.banner-bottom .btn {
		font-size: 12px;
		position: relative;
		img {
			position: absolute;
			top: 10px;
			left: 10px;
		}
		span {
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.banner-bottom .btn {
		font-size: 12px;
		padding-left: 45px;
		line-height: 18px;
		position: relative;
		img {
			position: absolute;
			top: 10px;
			left: 10px;
		}
		span {
			display: block;
		}
	}
}
