.disabled {
	background-color: #999999 !important;
}

.lession-section {
	padding: 20px 0;
	background-color: #ffffff;

	.br-01 {
		border-right: 1px solid #707070;
	}

	.row-10 {
		margin: 0 -10px;
		.pad-10 {
			padding: 0 10px;
		}
	}

	.bt-01 {
		border-top: 1px solid #707070;
	}
}
