<div
	class="item"
	id="owl-slide-1"
	(click)="activeFlip(1)"
	[ngClass]="active_slide == 1 ? 'active-item0 active-none0' : ''"
>
	<!-- box -->
	<div class="col-xl-12 col-lg-12 pad-10">
		<div class="newest-box" [class.active0]="active_slide == 1">
			<div class="heading">
				<h3>{{ slide.title }}</h3>
				<span><img src="assets/images/flip-left.svg" alt="" /></span>
			</div>
			<div class="img-box">
				<img [src]="apiUrl + slide.thumbnail.url" class="img-fuid" alt="" />
				<a href="#" class="img-cornor">
					<img src="assets/images/fliped-logo.png" alt="" />
				</a>
			</div>
			<div class="content-box">
				<p>
					{{ slide.description }}
				</p>
				<hr />
				<div class="card-footer">
					<ul>
						<li>
							<a href="#!">
								<i class="far fa-clock"></i>
								{{ slide.duration }} min
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fas fa-mobile-alt"></i>
								{{ isMobileCompatible(slide) ? 'Yes' : 'No' }}
							</a>
						</li>
						<li>
							<a href="#!">
								<i class="fas fa-globe"></i>
								{{ reduceLanguages(slide) }}
							</a>
						</li>
					</ul>

					<ul>
						<li>
							<a href="#!"> <i class="far fa-heart"></i> 40 </a>
						</li>

						<li>
							<a href="#!">
								<i class="fas fa-share-alt"></i>
							</a>
						</li>
						<li>
							<a href="#!" class="btn btn-launch">
								Launch
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div></div>
	</div>
	<!-- box end -->
</div>
