<div class="notification">
	<div class="dropdown">
		<button
			class="btn btn-notification"
			type="button"
			id="notification"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		>
			<i class="fas fa-bell"></i>
			<span class="badge">9+</span>
		</button>
		<div class="dropdown-menu" aria-labelledby="notification">
			<ul>
				<li>
					<h3>Notification one</h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry.
					</p>
					<span>10:00 am</span>
				</li>
				<li>
					<h3>Notification two</h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry.
					</p>
					<span>10:00 am</span>
				</li>

				<li>
					<h3>Notification three</h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry.
					</p>
					<span>10:00 am</span>
				</li>
			</ul>
		</div>
	</div>
</div>
