<div class="tech-support">
	<div class="tech-box">
		<img src="../../../assets/images/icon/safari.png" alt="" />
		<p>safari</p>
	</div>

	<div class="tech-box">
		<img src="../../../assets/images/icon/chrome.png" alt="" />
		<p>Chorme</p>
	</div>

	<div class="tech-box">
		<img src="../../../assets/images/icon/firfox.png" alt="" />
		<p>Firefox</p>
	</div>
</div>

<p>Latest browser version supported</p>

<div class="tech-support">
	<div class="tech-box">
		<span class="icon-tech">
			<i class="fa fa-mobile-alt"></i>
		</span>
		mo
		<p>Tablet</p>
	</div>
</div>
