.topic-div {
	width: 100%;
	h3 {
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		color: #ffffff;
	}

	.form-group {
		width: 100%;
		position: relative;
		.form-control {
			height: 40px;
			width: 100%;
			border-radius: 3px !important;
			&:focus {
				border-color: #ffffff !important;
			}
		}
		.btn-search {
			position: absolute;
			right: 0;
			top: 0;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #006586;
		}
	}
}
.custom-list-group {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding-left: 0;
	margin: 0;
	list-style: none;
}
.custom-list-group-item {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
}
.custom-list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #ff4461;
	border-color: #ff4461;
}
