<main role="main" class="flex-shrink-0 middle-section search-page">
	<div class="middle-inner">
		<div class="search-column">
			<app-search-form
				(searchToggleEvent)="searchToggle($event)"
			></app-search-form>
			<section
				class="featured-section login-featured-section seacrh-filter-pad"
				[ngClass]="searchStatus ? 'pl-zero' : ''"
			>
				<div class="search-div-bg"></div>
				<div class="featured-inner">
					<div class="container-fluid">
						<div class="fixed-bottom-right" *ngIf="educatorModeOn">
							<button class="btn btn-submit-lesson">
								<span class="round-plus">+</span>
								<span class="text-span">Submit Your Own Lesson</span>
							</button>
						</div>

						<app-slider-community *ngIf="educatorModeOn"></app-slider-community>
						<app-lesson-container
							title="Content Library"
							[lessons]="slides"
							[slider]="slider"
						></app-lesson-container>
					</div>
				</div>
			</section>
		</div>
	</div>
</main>
