<main role="main" class="flex-shrink-0 middle-section">
	<div class="middle-inner">
		<section class="hero-banner-section">
			<div class="hero-banner-inner">
				<div class="container-fluid" *ngIf="customOptions">
					<owl-carousel-o [options]="customOptions">
						<ng-container
							*ngFor="let slide of pageData.heroContent; let i = index"
						>
							<ng-template carouselSlide>
								<div class="item">
									<div
										class="slide-owl"
										[ngStyle]="{
											'background-image':
												'url(' +
												environment.api_url +
												'/' +
												slide.heroImage.url +
												')'
										}"
									>
										<div class="banner-caption">
											<div class="container">
												<div class="row">
													<div class="col-xl-12 col-lg-12 col-md-12">
														<div class="hero-container-box">
															<div class="caption-box">
																<h2>{{ slide.title }}</h2>
																<p [innerHTML]="slide.description"></p>
																<a href="#" class="btn btn-launch">Launch</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-template>
						</ng-container>
					</owl-carousel-o>
				</div>
			</div>
		</section>

		<section class="featured-section">
			<div class="featured-inner">
				<div class="container">
					<app-slider-community *ngIf="educatorModeOn"></app-slider-community>
					<app-lesson-container
						title="Featured"
						[lessons]="slides"
						[clipHorizontally]="true"
					></app-lesson-container>
					<app-lesson-container
						title="Newest"
						[lessons]="slides"
						[clipHorizontally]="true"
					></app-lesson-container>
				</div>
				<div
					class="row position-fixed p-2 submitLesson"
					*ngIf="educatorModeOn"
					(click)="loginModelToggel()"
				>
					<!-- [ngClass]="{ disabled: !educatorModeOn }" -->
					<div class="col-3 mx-0 px-0 h-100 text-center">
						<div
							class="icon mx-auto my-auto align-self-center position-relative"
							style="color: #666;"
						>
							<i class="fas fa-plus position-absolute"></i>
						</div>
					</div>
					<div
						class="offset-1 col-8 px-0 textContent font-weight-bold"
						style="color: #666;"
					>
						Submit Your<br />Own Lesson
					</div>
				</div>
			</div>
		</section>
	</div>
</main>

<div
	class="modal fade modal-auth"
	[ngClass]="toggelModel ? 'show' : ''"
	id="modal-signin"
	[ngStyle]="{ display: toggelModel == true ? 'block' : 'none' }"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">
					Interested in seeing more?
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true" (click)="loginModelToggel()">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="login-form-main">
					<div class="login-info">
						<p>
							Login or create an account for full access to simulations,
							community created content, and collaboration tools.
						</p>
					</div>
					<app-login title="loginModel"></app-login>
				</div>
			</div>
		</div>
	</div>
</div>
<div [ngClass]="toggelModel ? 'modal-backdrop fade show' : ''"></div>
