:root {
	--color-primary: #006585;
	--color-primary-vivid: #009ab6;
  --color-secondary: blue;
	--color-black: black;
	--color-dark-grey: #333;
	--color-faded: #999999;
  --color-dark: rgba(0, 0, 0, 0.6);
  --color-darkish: rgba(0, 0, 0, 0.2);
}
