<div class="content-libary-section">
	<!-- heading -->
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="heading">
				<h2>Content Library</h2>
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="select-short">
				<select class="form-control" placeholder="Sort by">
					<option>Newest</option>
					<option>Oldest</option>
				</select>
			</div>
		</div>
	</div>

	<!-- heading -->

	<div class="content-libary">
		<div class="row row-10">
			<!-- box -->
			<div class="col-xl-3 col-lg-3 pad-10 col-md-6 col-6">
				<a href="#" class="featured-box">
					<div class="heading">
						<h3>Kingdom in Peril: Ep 1</h3>
					</div>
					<div class="img-box">
						<img src="assets/images/featured-1.jpg" class="img-fuid" alt="" />
					</div>
				</a>
				<div></div>
			</div>
			<!-- box end -->

			<!-- box -->
			<div class="col-xl-3 col-lg-3 pad-10 col-md-6 col-6">
				<a href="#" class="featured-box">
					<div class="heading">
						<h3>Kingdom in Peril: Ep 2</h3>
					</div>
					<div class="img-box">
						<img src="assets/images/featured-3.jpg" class="img-fuid" alt="" />
					</div>
				</a>
				<div></div>
			</div>
			<!-- box end -->

			<!-- box -->
			<div class="col-xl-3 col-lg-3 pad-10 col-md-6 col-6 mb-3">
				<a href="#" class="featured-box">
					<div class="heading">
						<h3>Kingdom in Peril: Ep 3</h3>
					</div>
					<div class="img-box">
						<img src="assets/images/featured-4.jpg" class="img-fuid" alt="" />
					</div>
				</a>
				<div></div>
			</div>
			<!-- box end -->

			<!-- box -->
			<div class="col-xl-3 col-lg-3 pad-10 col-md-6 col-6">
				<a href="#" class="featured-box">
					<div class="heading">
						<h3>Title of Experience</h3>
					</div>
					<div class="img-box">
						<img src="assets/images/image.jpg" class="img-fuid" alt="" />
					</div>
				</a>
				<div></div>
			</div>
			<!-- box end -->

			<!-- box -->
			<div class="col-xl-3 col-lg-3 pad-10 col-md-6 col-6">
				<div
					class="featured-box flipbox"
					(mouseenter)="activeFlipBox()"
					(mouseleave)="deactiveFlipBox()"
				>
					<div class="heading">
						<h3>Title of Experience</h3>
					</div>
					<div class="img-box">
						<img src="assets/images/image.jpg" class="img-fuid" alt="" />
					</div>

					<div class="flipedbox" [ngClass]="searchStatus ? 'active' : ''">
						<div class="flipedbox-heading">
							<a href="#" class="arrow-back">
								<i class="fa fa-chevron-left"></i>
							</a>
							<div class="left">
								<h2>Title of Experience</h2>
								<p>Release Date 06/2017 <span>Version 1.0</span></p>
							</div>
							<div class="right">
								<span
									><img src="assets/images/flip-left.svg" alt="" /> Flip
									Crad</span
								>
							</div>
						</div>

						<div class="flipedbox-body">
							<div class="fliped-content-top">
								<div class="fliped-img">
									<img src="assets/images/flipped.jpg" alt="" />
									<a href="#" class="img-cornor">
										<img src="assets/images/fliped-logo.png" alt="" />
									</a>
								</div>
								<div class="fliped-detail">
									<p>
										The Cretaceous–Paleogene (K–Pg) extinction event, which
										occurred 66 mya, caused the mass extinction of nearly 75% of
										the plant and animal species on Earth. This event is marked
										by a thin layer of sediment which can be found throughout
										the world in marine and terrestrial rocks. The boundary clay
										shows high levels of
										<span id="text_hide_show"
											>iridium, which is rare on Earth but abundant in
											asteroids.</span
										>
									</p>
									<a href="#!" class="" id="toggle-read">Read More</a>
									<div class="learn-share">
										<ul>
											<li>
												<a href="#">
													<i class="fa fa-bookmark"></i>
													10
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-heart"></i>
													40
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-share-alt"></i>
												</a>
											</li>
										</ul>

										<div class="learmore-div">
											<a href="#" class="btn-learnmore">Learn more</a>
										</div>
									</div>
								</div>
							</div>

							<div class="fliped-content-middle">
								<div class="left">
									<h3>Lesson Info</h3>

									<ul class="lession-info">
										<li>
											<a href="#">
												<i class="fa fa-desktop"></i>
												Technical Details<span>(Compatibility )</span>
											</a>
										</li>
										<li>
											<a href="#" class="">
												<i class="fa fa-globe"></i>
												Languages
											</a>
										</li>
										<li>
											<a href="#" class="color-white">
												<i class="far fa-eye"></i>
												0,000,000 +
											</a>
										</li>
										<li>
											<a href="#" class="color-white">
												<i class="fa fa-share-square"></i>
												35
											</a>
										</li>
										<li>
											<a href="#" class="color-white">
												<i class="fas fa-stopwatch"></i>
												00h 00m – 00h 00m
											</a>
										</li>
									</ul>
								</div>
								<div class="right">
									<h3>Lesson Resources</h3>
									<ul class="lession-resource">
										<li>
											<a href="#">
												<i class="far fa-file-alt"></i>
												Lesson Documents
											</a>
										</li>
										<li>
											<a href="#">
												<i class="far fa-file-alt"></i>
												Alignment Documents
											</a>
										</li>

										<li>
											<a href="#">
												<i class="fa fa-check-circle"></i>
												Learning Outcomes and Prerequisites
											</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="fliped-topic">
								<h3>Topics</h3>
								<ul class="topic-list">
									<li><a href="#" class="tag">Mass Extinction</a></li>
									<li><a href="#" class="tag">Meteor Impacts</a></li>
									<li><a href="#" class="tag">Craters</a></li>
									<li><a href="#" class="tag">Iridium</a></li>
									<li><a href="#" class="tag">Microfossils</a></li>
									<li><a href="#" class="tag">Evolution</a></li>
									<li><a href="#" class="tag tag-add">Add a tag</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- box end -->

			<!-- owl end -->
		</div>
	</div>
</div>
