/*
* Profile Component SCSS
*/

.user-signin {
	.dropdown-menu {
		top: -5px;
		max-width: 320px !important;
		width: 100% !important;
		min-width: 320px !important;
		padding: 0;
		.login-form-main {
			padding: 0 0px;

			.login-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: #e8e8e8;
				height: 60px;
				padding: 10px 25px;
				.user-info {
					h3 {
						font-size: 24px;
						line-height: 29px;
						color: #333333;
						font-weight: 800;
						margin: 0;
					}
				}
				.user-picture {
					img {
						height: 40px;
						width: 46px;
						min-width: 46px;
						-o-object-fit: cover;
						object-fit: cover;
						object-position: center;
						clip-path: polygon(
							25% 0%,
							75% 0%,
							100% 50%,
							75% 100%,
							25% 100%,
							0% 50%
						);
					}
				}
			}
			.login-info {
				p {
					font-size: 16px;
					line-height: 22px;
					color: #333333;
					margin-bottom: 20px;
				}
			}
			.login-form {
				padding: 15px 25px;
				.form-group {
					label {
						font-size: 18px;
						line-height: 24px;
						font-weight: 800;
						margin-bottom: 0px;
					}
					.form-control {
						height: 40px;
						font-size: 16px;
						&:focus {
							border-color: #333333 !important;
						}
						&::placeholder {
							font-style: italic;
							color: #717171;
						}
					}

					.forgot-link {
						display: block;
						text-align: left;
						color: #3398b9;
						font-size: 16px;
						font-weight: 22px;
						margin: 5px 0;
						a {
							color: #3398b9;
							text-decoration: underline;
							&:hover {
								color: #006586;
							}
						}
					}
				}

				.btn-groups {
					.btn {
						width: 100%;
						height: 40px;
						font-size: 15px;
						font-weight: 800;
						line-height: 26px;
						border-radius: 2px;
						border: 0;
						box-shadow: none;
					}
					.btn-blue {
						background-color: #006586;
						color: #ffffff;
						transition: all 0.3s;
						&:hover {
							background-color: #00516b;
							transition: all 0.3s;
						}
					}
					.btn-yello {
						background-color: #d77009;
						color: #ffffff;
						transition: all 0.3s;
						&:hover {
							background-color: #ac5a07;
							transition: all 0.3s;
						}
					}

					.text-or {
						margin: 10px 0;
						text-align: center;
						position: relative;
						span {
							background-color: #ffffff;
							padding: 5px 8px;
							position: relative;
							z-index: 1;
							color: #333333;
							font-size: 18px;
							line-height: 24px;
							font-weight: 800;
						}
						&:after {
							content: '';
							height: 1px;
							width: 100%;
							position: absolute;
							background-color: #d6d6d6;
							left: 0;
							top: 14px;
							display: block;
							z-index: 0;
						}
					}
				}

				//
			}
		}
	}
}

@media (max-width: 767px) {
	.user-signin .dropdown-menu {
		right: -20px !important;
		min-width: 300px !important;
	}
}
//
