<div class="user">
	<div class="user-drop-down user-signin">
		<div class="dropdown">
			<button
				class="btn btn-secondary dropdown-toggle"
				type="button"
				id="dropdownMenuButton"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<!-- <i class="fas fa-user"></i> -->
				<img
					src="assets/images/user-img.png"
					class="img-fluid img-user"
					alt="user"
				/>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<div class="login-form-main">
					<div class="login-header">
						<div class="user-info">
							<h3>Login</h3>
						</div>
						<div class="user-picture">
							<img
								src="assets/images/user-img.png"
								alt=""
								class="user-login-img"
							/>
						</div>
					</div>
					<app-login></app-login>
				</div>
			</div>
		</div>
	</div>
</div>
