a {
	color: #3398b9;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
	span {
		width: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
	}
}
