<section class="banner-inner-page">
	<div
		class="banner-inner-div"
		[ngStyle]="{
			'background-image': 'url(' + apiUrl + '/' + lesson.cardImage?.url + ')'
		}"
	></div>

	<div class="banner-inner-content">
		<div class="container">
			<div class="banner-details">
				<div class="playbutton">
					<a href="#" data-toggle="modal" data-target="#modal-video">
						<img src="../../../../../assets/images/icon/play-btn.png" alt="" />
					</a>
				</div>
				<app-lesson-title
					class="w-100"
					[title]="lesson.title"
					[createdAt]="lesson.createdAt"
				></app-lesson-title>
				<div class="row row-custom">
					<app-community-contribution></app-community-contribution>
					<app-lesson-counts></app-lesson-counts>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade modal-video" id="modal-video">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<iframe
					width="100%"
					height="100%"
					src="https://www.youtube.com/embed/nWwpyclIEu4"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				></iframe>
			</div>
		</div>
	</div>
</div>
