.lessonContainer {
	position: relative;
	app-lesson-flip-card {
		position: absolute;
		z-index: 1;
	}
	.title {
		font-family: 'Montserrat', sans-serif;
	}
	.sliderContainer {
		height: 301px;
		position: relative;
		overflow-x: hidden;
		app-lesson-card {
			position: absolute;
			top: 0px;
		}
	}
	.sliderArrowContainer {
		.sideArrow {
			color: white;
			font-size: 25px;
			background-color: var(--color-darkish);
			cursor: pointer;
		}
	}
}
