/* You can add global styles to this file, and also import other style files */
html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	font-family: "Montserrat", sans-serif;
}

body {
  padding-top: 56px;
}
