<header
	class="header"
	[class.seacrh-header]="currentPage == '/search'"
	[ngClass]="currentPage == '/search' || educatorModeOn ? 'header-color2 ' : ''"
>
	<!-- Fixed navbar -->
	<nav
		class="navbar navbar-expand-md navbar-dark"
		#stickyMenu
		[class.fixed-top]="sticky"
	>
		<div class="main-header">
			<div class="container-fluid">
				<div class="row row-100 col-header">
					<div class="col-lg-12 col">
						<div class="logo-heder">
							<div class="container p-0">
								<a
									class="navbar-brand smoth-scroll show-in-web"
									href="javascript:void(0)"
									(click)="gotoRoute('/')"
									*ngIf="pageData.logo"
								>
									<img
										src="{{ environment.api_url }}{{ pageData.logo.url }}"
										class="menu-logo"
										alt=""
									/>
								</a>
								<a
									class="navbar-brand smoth-scroll show-in-mobile"
									href="javascript:void(0)"
									(click)="gotoRoute('/')"
								>
									<img
										src="assets/images/mobile-logo.png"
										class="menu-logo"
										alt=""
									/>
								</a>
							</div>
						</div>
						<div class="header-control">
							<div class="search-bar">
								<div class="educator">
									<p>Educator Mode</p>
									<div class="switch-slider">
										<input
											type="checkbox"
											class="toggle"
											id="toggle"
											[checked]="educatorModeOn"
											(change)="toggleMode()"
										/>
										<label for="toggle">
											<span class="on">On</span>
											<span class="off">Off</span>
										</label>
									</div>
								</div>
								<div class="search-input">
									<div class="form-group mb-0">
										<input
											type="text"
											class="form-control serach-text"
											[class.d-block]="searchOpen"
											placeholder="Search for content, tags, authors ..."
										/>
										<button
											type="button"
											class="btn btn-search show-in-mobile"
											(click)="toggleSearch()"
										>
											<i class="fas fa-search"></i>
										</button>
										<button
											type="button"
											class="btn btn-search show-in-web"
											(click)="search()"
											routerLink="/search"
										>
											<i class="fas fa-search"></i>
										</button>
										<a
											href="javascript:void(0)"
											class="d-none close-search"
											(click)="toggleSearch()"
											[class.d-flex]="searchOpen"
											*ngIf="searchOpen"
										>
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
							</div>

							<div class="top-header-right">
								<app-profile></app-profile>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sub-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button class="navbar-toggler" (click)="toggleNav()" type="button">
							<span class="navbar-toggler-icon"
								><i class="fas fa-bars"></i
							></span>
						</button>
						<div
							class="collapse1 navbar-collapse sidenav-new-menu"
							id="mySidenav2"
							[class.width-menu]="naveOpen"
						>
							<a
								href="javascript:void(0)"
								class="closebtn"
								(click)="toggleNav()"
								*ngIf="naveOpen"
							>
								<span>
									<span class="menu-bar-logo">
										<i class="fas fa-bars"></i
									></span>
									<img
										src="assets/images/mobile-logo-gray.png"
										class="menu-mobile-logo"
										alt=""
									/>
								</span>
								<span>
									<span class="menu-bar-close">
										<i class="fas fa-times"></i
									></span>
								</span>
							</a>
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										About Us
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Testimonials
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Educator PD
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Advisory
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a
										class="nav-link smoth-scroll dropdown-toggle"
										href="#"
										type="button"
										id=""
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										Media
									</a>
									<div class="dropdown-menu" aria-labelledby="">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>
							</ul>
						</div>

						<!-- layer modile and ipad menu -->
						<div
							id="cd-shadow-layer"
							onclick="closeNav2()"
							style="display: none;"
						></div>
						<!-- laeyer end -->
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

<router-outlet></router-outlet>
<div class="educator-mobile">
	<div class="educator">
		<p>Educatore Mode</p>
		<div class="switch-slider">
			<input
				type="checkbox"
				class="toggle"
				id="toggle-mobile"
				[checked]="educatorModeOn"
				(change)="toggleMode()"
			/>
			<label for="toggle-mobile">
				<span class="on">On</span>
				<span class="off">Off</span>
			</label>
		</div>
	</div>
</div>
<footer
	class="footer-section mt-auto"
	[ngClass]="
		currentPage == '/search' || currentPage == '/sign-up'
			? 'remove-footer-margin'
			: ''
	"
>
	<div class="footer-inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="footer-content">
						<div class="row">
							<div class="offset-lg-1 col-lg-6 col-md-6 col-6">
								<ul>
									<li><a href="#">Privacy </a></li>
									<li><a href="#">Terms of Use</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Report an Issue</a></li>
									<li><a href="#">Follow Us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid">
				<div class="copy-right-text">
					<div class="row">
						<div class="col-lg-12">
							<ul>
								<li>
									<a href="#">
										<img src="assets/images/asu.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="assets/images/nasa.png" class="h-70" alt="" />
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
